<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
        <%=render "/partials/header"%>
      <% @users.each do |x|%>
      <a href="/users/<%=x.id%>">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%=x.first_name%></span>
          <%=image_tag x.avatar.url(:thumb) %>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
      </a>
      <%end%>
    </div>
  </body>
</html>
