<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<div class="container">
  <div id="wrapper" style="text-align: center">
    <div id="yourdiv">
      <a href="/profile"><img class="square" width="60%" src="<%= @member.avatar%>"></a>
      <br> <%= @member.first_name %> <%=@member.last_name%> </br>
      <%= @member.email %>
    </div>
  </div>
</div>

</body>
</html>
