/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

#content{
  padding: 3%;
  padding-left: 300px;
}
.row .col{
  padding: 0;
}
#sidenav{
  background-color: #1e2022;
  position: fixed;
  #sidelinks{
    a {
      text-align: left;
    }
    height: 1000px;
    opacity: 0.98;
  }
}
.btn:not(.links){
  width: 100%;
  background-color: #1e2022;


}
nav .nav-wrapper{
  height: 80px;
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #1e2022;
}

body{
  background-color: #f0f5f9;
}
.main{
  padding-left: 20px;
  padding-right: 20px;
}
.container{
  width: 100%;
}

#scrollspy{
  display: inline-block;
}
#title{
  display: inline-block;
  vertical-align: top;
  margin-left: 5%
}

#introduction{
  margin-left: .9%;
  width: 100%;
}
#logistics{
  width: 100%;
}
#ourmembers{
  width: 100%;
}
.join{
  margin-left: 10%;
}
#search-form{
  width: 500px;
  input{
    margin: 0 0 0 0;
  }
}
.text{
  margin-left: 20px;
}
.register{
  width: 40%;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 5%;
  padding: 3%;
}
