// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.join{
  display: inline-block;
  vertical-align: top;
}
.buttons{
  margin-left: 5%;
}
.organizations{
  padding-left: 5%;
  padding-right: 5%;
}
.card{
  display:inline-block;
  vertical-align: top;
  width: 250px;
  height: 300px;
  background-color: #1E2022;
  .card-content{
    text-align: center;
    width: 100%;
    background-color: #eeeeee;
    color: #1F2021;
  }
}
h1{
  margin-left: 5%;
}
body{
  .header{
    margin-left: 4%;
  }
  .text{
    margin-left:6%;
    margin-right:4%;
  }
}
#scrollspy{
  display: inline-block;
  margin-left: 3%;
}
#org-title{
  color: white;
  opacity: 1;
  margin-left: 4%;
}
.admin-edit{
  background-color: #FFFFFF;
  padding: 2%;
}
.admin-dashboard{
  border: 1px solid black;
}
.info{
  text-align: justify;
}
.logistics{
  width: 30%;
  display: inline-block;
}
#org-video{
  display: inline-block;
  vertical-align: top;
}
#ourmembers{
  padding:0 5% 0 5%;
}
.member-card{

  color: black;
  margin-bottom: 2%;
  margin-right: 2%;
  background-color: #FFFFFF;
  width: 31%;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  img{
    height: 100%;
    width: 50%;
    display: inline-block;
  }
  .member-info{
    vertical-align: top;
    padding-top: 3%;
    padding-left: 2%;
    height: 100%;
    display: inline-block;
    color: black;
  }
}
