// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.join{
  display: inline-block;
  vertical-align: top;
}
.buttons{
  margin-left: 5%;
}
.org-cards{
  margin-left: 5%;
}
.card{
  display:inline-block;
  vertical-align: top;
  width: 250px;
  height: 300px;
  strong{
    text-align: center;
  }
}
h1{
  margin-left: 5%;
}
body{
  .header{
    margin-left: 4%;
  }
}
#org-title{
  color: white;
  opacity: 1;
}
