// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.organization-cards{
  display: inline-block;
  vertical-align: top;
}
.post-field{
  background-color: #FFFFFF;
  padding: 1%;
  border-radius: 3%;
  z-index: 2;
}
