<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%@sessions_index = true%>
      <%=render "/partials/header"%>
      <div class="container">
        <div class="text">
          <div class="section white">
            <div class="row container">
              <h2 class="header">Chongdae</h2>
              <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
        <h1>Chongdae Is:</h1>
        <div class="organizations">
          <div class="row">
            <div class="org-cards">
              <%@org.each do |x|%>
                <div class="col s3">
                  <a href="/organizations/<%=x.id%>">
                    <div class="card">
                      <div class="card-image">
                        <%= image_tag x.avatar3.url(:medium) %>
                      </div>
                      <div class="card-content">
                        <h4><%=x.name%></h4>
                      </div>
                    </div>
                  </a>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
